#git+https://github.com/patrickuhlmann/juntagrico.git@main
juntagrico ~=1.6.9

gunicorn==23.0.0
psycopg>=3.1.8
whitenoise==6.9.0
juntagrico-assignment-request==1.6.4
juntagrico-billing==1.6.4
juntagrico-pg==1.6.1
